body {
  font: 10px Helvetica, Sans-Serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#background {
  padding: 10px;
  height: 100%;
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
}

.randomNumberClass {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1em;
  color: #ffa600;
  font-weight: bold;
  font-size: 300px;
  text-shadow: 0px 0px 0 rgb(235, 146, -20), 1px 1px 0 rgb(225, 136, -30), 2px 2px 0 rgb(216, 127, -39), 3px 3px 0 rgb(206, 117, -49), 4px 4px 0 rgb(196, 107, -59), 5px 5px 0 rgb(186, 97, -69), 6px 6px 5px rgba(0, 0, 0, 0.2), 6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, .2);
}

.button {
  background-image: -webkit-linear-gradient(top, rgba(255, 162, 2, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 162, 2, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 162, 2, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 162, 2, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: linear-gradient(top, rgba(255, 162, 2, 1) 0%, rgba(255, 112, 2, 1) 100%);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.57)inset, 0px 20px 0px 0px rgba(255, 255, 255, 0.18)inset, 0px 5px 0px 0px rgba(213, 96, 0, 1), 0px -1px 0px 0px rgba(255, 255, 255, 0.07)inset, 0px 5px 2px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.57)inset, 0px 20px 0px 0px rgba(255, 255, 255, 0.18)inset, 0px 5px 0px 0px rgba(213, 96, 0, 1), 0px -1px 0px 0px rgba(255, 255, 255, 0.07)inset, 0px 5px 2px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.57)inset, 0px 20px 0px 0px rgba(255, 255, 255, 0.18)inset, 0px 5px 0px 0px rgba(213, 96, 0, 1), 0px -1px 0px 0px rgba(255, 255, 255, 0.07)inset, 0px 5px 2px 0px rgba(0, 0, 0, 0.46);
  border: solid 1px rgba(255, 120, 2, 1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 30px 30px 30px 30px;
  display: inline-block;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 66px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.53)
}

.button:hover {
  background-image: -webkit-linear-gradient(top, rgba(255, 175, 3, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 175, 3, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 175, 3, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 175, 3, 1) 0%, rgba(255, 112, 2, 1) 100%);
  background-image: linear-gradient(top, rgba(255, 175, 3, 1) 0%, rgba(255, 112, 2, 1) 100%);
}

.button:active {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.57)inset, 0px 20px 0px 0px rgba(255, 255, 255, 0.18)inset, 0px 1px 0px 0px rgba(213, 96, 0, 1), 0px -1px 0px 0px rgba(255, 255, 255, 0.07)inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.57)inset, 0px 20px 0px 0px rgba(255, 255, 255, 0.18)inset, 0px 1px 0px 0px rgba(213, 96, 0, 1), 0px -1px 0px 0px rgba(255, 255, 255, 0.07)inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.57)inset, 0px 20px 0px 0px rgba(255, 255, 255, 0.18)inset, 0px 1px 0px 0px rgba(213, 96, 0, 1), 0px -1px 0px 0px rgba(255, 255, 255, 0.07)inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  transform: translateY(3px);
}



.button_restart {
  background-image: -webkit-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 34%);
  background-image: -moz-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 34%);
  background-image: -ms-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 34%);
  background-image: -o-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 34%);
  background-image: linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 34%);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(140, 7, 7, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(140, 7, 7, 1);
  box-shadow: 0px 4px 0px 0px rgba(140, 7, 7, 1);
  border: solid 1px rgba(196, 12, 12, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 150px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1)
}

.button_restart:hover {
  background-image: -webkit-linear-gradient(top, rgba(210, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 100%);
  background-image: -moz-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 100%);
  background-image: -ms-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 100%);
  background-image: -o-linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 100%);
  background-image: linear-gradient(top, rgba(230, 23, 23, 1) 0%, rgba(199, 16, 16, 1) 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(140, 7, 7, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(140, 7, 7, 1);
  box-shadow: 0px 2px 0px 0px rgba(140, 7, 7, 1);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1)
}

.button_restart.active {
  background-image: -webkit-linear-gradient(top, rgba(0,255,0,1) 0%, rgba(0,255,0,0.6) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,255,0,1) 0%, rgba(0,255,0,0.6) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,255,0,1) 0%, rgba(0,255,0,0.6) 100%);
  background-image: -o-linear-gradient(top, rgba(0,255,0,1) 0%, rgba(0,255,0,0.6) 100%);
  background-image: linear-gradient(top, rgba(0,255,0,1) 0%, rgba(0,255,0,0.6) 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,255,0,0.2);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,255,0,0.2);
  box-shadow: 0px 2px 0px 0px rgba(0,255,0,0.2);
}

.sel{  
  font-size: 18px;
}

#numbersTable {
  font: bold 40px Helvetica, sans-serif;
  width: 96.7%;
  color: #FFFFFF;
  text-align: center;
  /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.2);
  float: left;

}
#bingo {
  font: bold 40px Helvetica, sans-serif;
  width: 3%;
  color: #FFFFFF;
  /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.2);
  float: left;
  text-align:center;

}


#numbersTable td,
#bingo td,
table {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-spacing: 0;
  padding: 0;
}


#buttonTable {
  width: 100%;
  height: 50%;
  text-align: center;
  border: 0px solid rgba(0, 0, 0, 0);
  margin-top: 10px;
}

#topTable {
  width: 100%;
  height: 50%;
  text-align: center;
  border: 0px solid rgba(0, 0, 0, 0);
  margin-top: 10px;
}



#topTable td {
  border: 0px solid rgb(0, 0, 0);
  border-spacing: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}


.glowingText {
  text-shadow: 0 0 10px #FF9D00;
  font-size: 40px;
  color: #FF9D00;
}

/* estilos incorporados por mi */
header {
  display: flex;
  min-height: 80px;
  height: 50px;
  padding: 10px;
  background-color: #ffb030;
  align-items: center;
  justify-content: space-between;
}
#logoutButton{
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo h2 {
  font-size: 31px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  flex-direction: row;

}

nav a {
  padding: 20px 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center
}

nav a:hover {
  color: aliceblue;
}
.size{
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height: 1;
}

.size span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.size:hover {
  background-color: #45a049;
}

footer {
  background: linear-gradient(to right, #cfcfcf, #333333);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-column {
  display: flex;
  align-items: center;
}

.logo-column,
.rights-column {
  flex-basis: 50%;
}

.logo-column img {
  max-width: 200px;
}

.logo-column h2 {
  margin-top: 10px;
  font-size: 20px;
}

.rights-column p {
  font-size: 14px;
}

.guiargo {
  color: aqua;
}

.cachay {
  color: black;
}

@media (max-width: 1064px) {
  #background {
    display: none;
  }

  #warning-message {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f2f2f2;
  }
}
#warning-message {
  display: none;
}

#numberList {
  width: 100%;
  padding: 0;
  text-align: -webkit-center;
}

.lic {
  margin-bottom: 2px;
  font-size: 35px;
  background: #d9d9d9;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #3d3f2b;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.col{
  background-color: blue !important;
  margin-right: 10px !important;
}